.inner-drop {
  text-align: center;
  /* color: #ffffff; */
  background-color: #161616;
  color: #fff;
  width: fit-content;
  /* border: 2px solid rgba(2, 2, 2, 0.925); */
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  margin: -5px;
  margin-top: -10px;
}
.inner-drop:hover {
  color: gold;
  /* color: rgba(2, 2, 2, 0.925); */
  /* border-bottom: 4px solid white; */
  /* text-decoration: underline; */
}
