.inner-drop {
  text-align: center;
  /* color: #ffffff; */
  background-color: rgba(2, 2, 2, 0.925);
  color: #fff;
  align-items: center;
  /* float: center; */
  justify-content: center;
  margin-top: 20px;
  margin: auto;
  width: 250px;
  height: 55px;
  border: 2px solid rgba(2, 2, 2, 0.925);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.inner-drop:hover {
  color: white;
  /* color: rgba(2, 2, 2, 0.925); */
  /* border-bottom: 4px solid white; */
  text-decoration: underline;
}
